
/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}
.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 1.75rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}
.blog-main {
    text-align: center;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    padding-top: 60px;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
.icon-red {
    color: #e84a4a;
    font-size: 26px;
    cursor: pointer;
}
.icon-container {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
}
.icon-container i {
    font-size: 20px;
}
.icon-color-red {
    color: #e84a4a;
}
.mega-size {
    font-size: 28px !important;
}
.col-md-4 {
    cursor: pointer;
}
.cst-container-form {
    margin: 25px 0;
    padding: 20px 20px;
    background: #f5f5f5;
}
.cst-container-form p{
    color: #3a3a3a;
    font-size: 22px;
    text-align: left;
    margin-bottom: 15px;
}
.blog-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.cst-content {
    padding-bottom: 115px;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
html,
body {
    height: 100% !important;
}
.el-none {
    display: none;
}
.cst-square {
    display: contents;
}
.cst-container-div {
    margin: 17px 0px;
}
.cst-container-div h4 {
    display: inline;
}
.cst-container-div div {
    float: right;
}
.cst-form {
    display: inline;
}
.cst-container-loader {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: -webkit-center;
    background: black;
    opacity: 0.7;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    position: fixed;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.cst-invisible {
    display: none;
}
.back {
    cursor: pointer;
}
.cst-star {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}
.cst-star:hover {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}
.cst-star .fa-star {
    color: #007bff;
}
.cst-vertical-text {
    margin: 0px;
    line-height: 38px;
}
.cst-container-filter {
    padding: 20px 20px;
    background: #f5f5f5;
}
